* {
    box-sizing: border-box;

}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.serial {
    width: 200px;
    background-color: #eee;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    height:66px;
    font-weight: bold;

}
.generate {
    background-color: red;
    display: block;
    margin: 20px auto;
    width: fit-content;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    user-select: none;

}
.generate:hover {
    background-color: rgb(235, 90, 90);
}